@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap");

@import "tailwindcss";

@theme {
  /* 🎨 Colors */
  --color-dark-900: #030a2e;
  --color-dark-800: #061665;

  --color-accent-pink: #e018e0;
  --color-accent-teal: #00ffd2;
  --color-accent-blue: #8ec8ee;
  --color-accent-hotpink: #ff379e;

  /* 🅰️ Typography */
  --font-inter: "Inter", sans-serif;
}

@layer base {
  html,
  body {
    @apply font-inter text-white scroll-smooth;
  }
  .my-container {
    @apply max-w-[90rem] mx-auto px-4 sm:px-6 lg:px-8;
  }
}

.highlighted {
  position: relative;
  display: inline-block;
  z-index: 1;
}

.highlighted::before {
  content: "";
  position: absolute;
  top: 45%;
  left: 6px;
  width: 90%;
  height: 45%;
  background-color: var(--highlight-color, var(--color-accent-blue));
  z-index: -1;
}
